
@model Negocio.ViewModels.Ciudadanos.CiudadanoComposicionFamiliarViewModel


<div class=" box box-success">
    <div class="box-header with-border">
        <h3 class="box-title">5. Composición familiar de la (el) solicitante. </h3>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="form-group col-lg-6">
                @Html.LabelFor(m => m.CIU_IDOrganizacionCivilFamilia)
                @Html.CustomDropDownListFor(m => m.CIU_IDOrganizacionCivilFamilia, Model.OrganizacionCivilFamilia, new { @class = "form-control form-control-sm " })
                @Html.ValidationMessageFor(m => m.CIU_IDOrganizacionCivilFamilia, "")
            </div>
            <div class="form-group col-lg-6">
                @Html.LabelFor(m => m.CIU_IDEstructuraFamiliar)
                @Html.CustomDropDownListFor(m => m.CIU_IDEstructuraFamiliar, Model.EstructuraFamiliar, new { @class = "form-control form-control-sm " })
                @Html.ValidationMessageFor(m => m.CIU_IDEstructuraFamiliar, "")
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-6">
                @Html.LabelFor(m => m.CIU_IDEnfermedadCronica)
                @Html.CustomDropDownListFor(m => m.CIU_IDEnfermedadCronica, Model.EnfermedadCronica, new { @class = "form-control form-control-sm " })
                @Html.ValidationMessageFor(m => m.CIU_IDEnfermedadCronica, "")
            </div>
            <div class="form-group col-lg-6">
                @Html.LabelFor(m => m.CIU_EnfermedadCronicaOtro)
                @Html.EditorFor(m => m.CIU_EnfermedadCronicaOtro, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                @Html.ValidationMessageFor(m => m.CIU_EnfermedadCronicaOtro, "")
            </div>

        </div>
        <div class="row">
            <div class="form-group col-lg-6">
                @Html.LabelFor(m => m.CIU_IDDiscapacidad)
                @Html.CustomDropDownListFor(m => m.CIU_IDDiscapacidad, Model.Discapacidad, new { @class = "form-control form-control-sm " })
                @Html.ValidationMessageFor(m => m.CIU_IDDiscapacidad, "")
            </div>
            <div class="form-group col-lg-6">
                @Html.LabelFor(m => m.CIU_DiscapacidadOtro)
                @Html.EditorFor(m => m.CIU_DiscapacidadOtro, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                @Html.ValidationMessageFor(m => m.CIU_DiscapacidadOtro, "")
            </div>

        </div>
        <div class="row">
            <div class="form-group col-lg-6">
                @Html.LabelFor(m => m.CIU_IDGruposPrioritarios)
                @Html.CustomDropDownListFor(m => m.CIU_IDGruposPrioritarios, Model.GruposPrioritarios, new { @class = "form-control form-control-sm " })
                @Html.ValidationMessageFor(m => m.CIU_IDGruposPrioritarios, "")
            </div>
            <div class="form-group col-lg-6">
                @Html.LabelFor(m => m.CIU_IngresoFamiliar)
                @Html.EditorFor(m => m.CIU_IngresoFamiliar, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                @Html.ValidationMessageFor(m => m.CIU_IngresoFamiliar, "")
            </div>


        </div>

        <!-- /.box-body -->
    </div>

    @* Trabajo *@
    <div class="box-header with-border">
        <h3 class="box-title">Datos laborales </h3>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="form-group col-lg-6">
                @Html.LabelFor(m => m.Trabajo.CIU_IDOcupacion)
                @Html.CustomDropDownListFor(m => m.Trabajo.CIU_IDOcupacion, Model.Trabajo.Ocupacion, new { @class = "form-control form-control-sm " })
                @Html.ValidationMessageFor(m => m.Trabajo.CIU_IDOcupacion, "")
            </div>
            <div class="form-group col-lg-6">
                <label for="CIU_NombreTrabajo">Dependencia, empresa o negocio: </label>
                <input type="text" class="form-control" id="CIU_NombreTrabajo" />
                @Html.LabelFor(m => m.Trabajo.CIU_NombreTrabajo)
                @Html.EditorFor(m => m.Trabajo.CIU_NombreTrabajo, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                @Html.ValidationMessageFor(m => m.Trabajo.CIU_NombreTrabajo, "")
            </div>


        </div>

    </div>
</div>