

@model Negocio.ViewModels.Ciudadanos.CiudadanoDatosPersonalesViewModel

<div class="box box-success">
    <div class="box-header with-border">
        <h1 class="box-title">1. Datos de la (el) Solicitante.</h1>
    </div>

    <div class="box-body">
        <div class="form-group">
            @Html.LabelFor(m => m.CIU_CURP)
            @Html.EditorFor(m => m.CIU_CURP, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
            @Html.ValidationMessageFor(m => m.CIU_CURP, "")
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CIU_Nombre)
            @Html.EditorFor(m => m.CIU_Nombre, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
            @Html.ValidationMessageFor(m => m.CIU_Nombre, "")
        </div>
        <div class="row">
            <div class="form-group col-lg-6">
                @Html.LabelFor(m => m.CIU_ApellidoPaterno)
                @Html.EditorFor(m => m.CIU_ApellidoPaterno, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                @Html.ValidationMessageFor(m => m.CIU_ApellidoPaterno, "")
            </div>
            <div class="form-group col-lg-6">
                @Html.LabelFor(m => m.CIU_ApellidoMaterno)
                @Html.EditorFor(m => m.CIU_ApellidoMaterno, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                @Html.ValidationMessageFor(m => m.CIU_ApellidoMaterno, "")
            </div>
        </div>


        <div class="row">
            <div class="form-group col-lg-6">
                @Html.LabelFor(m => m.CIU_NumeroIdentificacion)
                @Html.EditorFor(m => m.CIU_NumeroIdentificacion, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                @Html.ValidationMessageFor(m => m.CIU_NumeroIdentificacion, "")
            </div>
            <div class="form-group col-lg-6">
                @Html.LabelFor(m => m.CIU_IDGenero)
                @Html.CustomDropDownListFor(m => m.CIU_IDGenero, Model.Genero, new { @class = "form-control form-control-sm " })
                @Html.ValidationMessageFor(m => m.CIU_IDGenero, "")
            </div>

        </div>
        <div class="row">
            <div class="form-group  col-lg-6">
                @Html.LabelFor(m => m.CIU_FechaNacimiento)
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    @Html.EditorFor(m => m.CIU_FechaNacimiento, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                </div>
                @Html.ValidationMessageFor(m => m.CIU_FechaNacimiento, "")
            </div>
            <div class="form-group col-lg-6">
                @Html.LabelFor(m => m.CIU_IDEstado)
                @Html.CustomDropDownListFor(m => m.CIU_IDEstado, Model.Estado, new { @class = "form-control form-control-sm " })
                @Html.ValidationMessageFor(m => m.CIU_IDEstado, "")
            </div>

        </div>
        <div class="row">
            <div class="form-group col-lg-6">
                @Html.LabelFor(m => m.CIU_TiempoResidencia)
                @Html.EditorFor(m => m.CIU_TiempoResidencia, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                <p class="help-block">Tiempo en años.</p>
                @Html.ValidationMessageFor(m => m.CIU_TiempoResidencia, "")
            </div>
            <div class="form-group col-lg-6">
                @Html.LabelFor(m => m.CIU_IDGradoEstudios)
                @Html.CustomDropDownListFor(m => m.CIU_IDGradoEstudios, Model.GradoEstudios, new { @class = "form-control form-control-sm " })
                @Html.ValidationMessageFor(m => m.CIU_IDGradoEstudios, "")
            </div>

        </div>
        <div class="row">
            <div class="form-group col-lg-6">
                @Html.LabelFor(m => m.CIU_IDgrupoEtnico)
                @Html.CustomDropDownListFor(m => m.CIU_IDgrupoEtnico, Model.GrupoEtnico, new { @class = "form-control form-control-sm " })
                @Html.ValidationMessageFor(m => m.CIU_IDgrupoEtnico, "")
            </div>
            <div class="form-group col-lg-6">
                @Html.LabelFor(m => m.CIU_IDEstadoCivil)
                @Html.CustomDropDownListFor(m => m.CIU_IDEstadoCivil, Model.EstadoCivil, new { @class = "form-control form-control-sm " })
                @Html.ValidationMessageFor(m => m.CIU_IDEstadoCivil, "")
            </div>

        </div>
    </div>

    <!-- /.box-body -->
    <div class="box-header with-border">
        <h3 class="box-title">Datos de Contacto</h3>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="form-group col-lg-6">
                @Html.LabelFor(m => m.CIU_TelParticular)
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-phone"></i>
                    </div>
                    @Html.EditorFor(m => m.CIU_TelParticular, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                </div>
                @Html.ValidationMessageFor(m => m.CIU_TelParticular, "")
            </div>
            <div class="form-group col-lg-6">
                @Html.LabelFor(m => m.CIU_TelTrabajo)
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-phone"></i>
                    </div>
                    @Html.EditorFor(m => m.CIU_TelTrabajo, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                </div>
                @Html.ValidationMessageFor(m => m.CIU_TelTrabajo, "")
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-6">
                @Html.LabelFor(m => m.CIU_TelCelular)
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-phone"></i>
                    </div>
                    @Html.EditorFor(m => m.CIU_TelCelular, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                </div>
                @Html.ValidationMessageFor(m => m.CIU_TelCelular, "")
            </div>
            <div class="form-group col-lg-6">
                @Html.LabelFor(m => m.CIU_TelRecados)
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-phone"></i>
                    </div>
                    @Html.EditorFor(m => m.CIU_TelRecados, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                </div>
                @Html.ValidationMessageFor(m => m.CIU_TelRecados, "")
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CIU_CorreoElectronico)
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa  fa-envelope"></i>
                </div>
                @Html.EditorFor(m => m.CIU_CorreoElectronico, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
            </div>
            @Html.ValidationMessageFor(m => m.CIU_CorreoElectronico, "")
        </div>
        @if(Model.Boton == true)
        {
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        }
            
    </div>

</div>