@{
    Layout = "~/Views/Shared/_Layout-Principal.cshtml";

}

@model Negocio.ViewModels.CiudadanosIndexViewModel

@section estilos{
    @Styles.Render("~/bundles/datatables_css")
}


<div class="content-wrapper" style="min-height: 901px;">
    <section class="content-header">
        <h1>
            Ciudadano
            <small>Solicitudes</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Principal")"><i class="fa fa-dashboard"></i>Menu principal</a>
            </li>
            <li class="active">
                Solicitudes por Ciudadano

        </ol>
    </section>

    <section class="content">

        @if (ViewBag.Error == true)
        {
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-ban"></i> ¡Error!</h4>
                @ViewBag.MensajeError
            </div>
        }


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Datos del Ciudadano</h3>
            </div>
            <div class="box-body">

                <table id="tabla_ciudadano_index" class="table table-bordered  table-striped table-responsive">
                    @if (Model.Listado.Count() == 0)
                    {
                        @Html.CustomTableEmptyResult()
                    }
                    else
                    {
                        <thead>
                            <tr>
                                <th>CURP</th>
                                <th>Nombre Completo</th>
                                <th>Género</th>
                                <th>Datos de Nacimiento</th>
                                <th>Contacto</th>
                                <th>Domicilio</th>
                                <th>Ver Información</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Listado)
                            {
                                <tr>
                                    <td>@item.CURP</td>
                                    <td>@item.NombreCompleto</td>
                                    <td>@item.GeneroTexto</td>
                                    <td>@item.DatosNacimiento</td>
                                    <td>@item.Contacto</td>
                                    <td>@item.DomicilioCompleto</td>
                                    <td>
                                        <div class="text-center">
                                            <a class="btn bg-primary solicitudes" href="@Url.Action("Informacion","Ciudadano", new { ID = @item.IDEncriptado, m = Encriptador.Encriptar(9)})">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    }
                </table>
            </div>
        </div>
    </section>
</div>

@section scripts{
    @Scripts.Render("~/bundles/datatables_js")
    <script src="~/Scripts/Negocio/Ciudadano/CiudadanoMostrar.js"></script>
}