@{
    Layout = "~/Views/Shared/_Layout-Principal.cshtml";

}

@model Negocio.ViewModels.Ciudadanos.CiudadanoInsertarViewModel

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Credito Inicial

            <small>Nueva Solicitud</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="#">Credito Inicial</a></li>
            <li class="active">Nueva Solicitud</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        @using (Html.BeginForm())
        {
        <fieldset id="step1">
            <div class="row">
                <!-- left column -->
                <div class="col-md-6">

                    <div id="DatosPersonalesViewModel">
                        @* 1. Datos Personales *@
                        <div class="box box-success">
                            <div class="box-header with-border">
                                <h1 class="box-title">1. Datos de la (el) Solicitante.</h1>
                            </div>

                            @Html.HiddenFor(m => m.ID_Encriptado)
                            <div class="box-body">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.CIU_CURP)
                                    @Html.EditorFor(m => m.CIU_CURP, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.CIU_CURP, "")
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.CIU_Nombre)
                                    @Html.EditorFor(m => m.CIU_Nombre, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.CIU_Nombre, "")
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        @Html.LabelFor(m => m.CIU_ApellidoPaterno)
                                        @Html.EditorFor(m => m.CIU_ApellidoPaterno, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                        @Html.ValidationMessageFor(m => m.CIU_ApellidoPaterno, "")
                                    </div>
                                    <div class="form-group col-lg-6">
                                        @Html.LabelFor(m => m.CIU_ApellidoMaterno)
                                        @Html.EditorFor(m => m.CIU_ApellidoMaterno, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                        @Html.ValidationMessageFor(m => m.CIU_ApellidoMaterno, "")
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        @Html.LabelFor(m => m.CIU_NumeroIdentificacion)
                                        @Html.EditorFor(m => m.CIU_NumeroIdentificacion, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                        @Html.ValidationMessageFor(m => m.CIU_NumeroIdentificacion, "")
                                    </div>
                                    <div class="form-group col-lg-6">
                                        @Html.LabelFor(m => m.CIU_IDGenero)
                                        @Html.CustomDropDownListFor(m => m.CIU_IDGenero, Model.Genero, new { @class = "form-control form-control-sm " })
                                        @Html.ValidationMessageFor(m => m.CIU_IDGenero, "")
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="form-group  col-lg-6">
                                        @Html.LabelFor(m => m.CIU_FechaNacimiento)
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            @Html.EditorFor(m => m.CIU_FechaNacimiento, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.CIU_FechaNacimiento, "")
                                    </div>
                                    <div class="form-group col-lg-6">
                                        @Html.LabelFor(m => m.CIU_IDEstado)
                                        @Html.CustomDropDownListFor(m => m.CIU_IDEstado, Model.Estado, new { @class = "form-control form-control-sm " })
                                        @Html.ValidationMessageFor(m => m.CIU_IDEstado, "")
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        @Html.LabelFor(m => m.CIU_TiempoResidencia)
                                        @Html.EditorFor(m => m.CIU_TiempoResidencia, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                        <p class="help-block">Tiempo en años.</p>
                                        @Html.ValidationMessageFor(m => m.CIU_TiempoResidencia, "")
                                    </div>
                                    <div class="form-group col-lg-6">
                                        @Html.LabelFor(m => m.CIU_IDGradoEstudios)
                                        @Html.CustomDropDownListFor(m => m.CIU_IDGradoEstudios, Model.GradoEstudios, new { @class = "form-control form-control-sm " })
                                        @Html.ValidationMessageFor(m => m.CIU_IDGradoEstudios, "")
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        @Html.LabelFor(m => m.CIU_IDgrupoEtnico)
                                        @Html.CustomDropDownListFor(m => m.CIU_IDgrupoEtnico, Model.GrupoEtnico, new { @class = "form-control form-control-sm " })
                                        @Html.ValidationMessageFor(m => m.CIU_IDgrupoEtnico, "")
                                    </div>
                                    <div class="form-group col-lg-6">
                                        @Html.LabelFor(m => m.CIU_IDEstadoCivil)
                                        @Html.CustomDropDownListFor(m => m.CIU_IDEstadoCivil, Model.EstadoCivil, new { @class = "form-control form-control-sm " })
                                        @Html.ValidationMessageFor(m => m.CIU_IDEstadoCivil, "")
                                    </div>

                                </div>
                            </div>

                            <!-- /.box-body -->
                            <div class="box-header with-border">
                                <h3 class="box-title">Datos de Contacto</h3>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        @Html.LabelFor(m => m.CIU_TelParticular)
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-phone"></i>
                                            </div>
                                            @Html.EditorFor(m => m.CIU_TelParticular, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.CIU_TelParticular, "")
                                    </div>
                                    <div class="form-group col-lg-6">
                                        @Html.LabelFor(m => m.CIU_TelTrabajo)
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-phone"></i>
                                            </div>
                                            @Html.EditorFor(m => m.CIU_TelTrabajo, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.CIU_TelTrabajo, "")
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        @Html.LabelFor(m => m.CIU_TelCelular)
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-phone"></i>
                                            </div>
                                            @Html.EditorFor(m => m.CIU_TelCelular, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.CIU_TelCelular, "")
                                    </div>
                                    <div class="form-group col-lg-6">
                                        @Html.LabelFor(m => m.CIU_TelRecados)
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-phone"></i>
                                            </div>
                                            @Html.EditorFor(m => m.CIU_TelRecados, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.CIU_TelRecados, "")
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.CIU_CorreoElectronico)
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa  fa-envelope"></i>
                                        </div>
                                        @Html.EditorFor(m => m.CIU_CorreoElectronico, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.CIU_CorreoElectronico, "")
                                </div>
                                @if (Model.Boton == true)
                                {
                                    <div class="box-footer">
                                        <button type="submit" class="btn btn-primary">Guardar</button>
                                    </div>
                                }

                            </div>

                        </div>
                    </div>

                    <div id="ParejaViewModel">
                        @* 2. Pareja *@
                    </div>

                </div>

                <div class="col-md-6">

                    <div id="DomicilioCiudadanoViewModel">
                        @*3. Domicilio del credito y del solicitante *@
                        <div class="box box-success">
                            <div class="box-header with-border">
                                <h3 class="box-title">Domicilio del Ciudadano</h3>
                            </div>

                            @Html.HiddenFor(m => m.CIU_IDDomicilio)
                            <div class="box-body">
                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        @Html.LabelFor(m => m.DOMC_IDVialidad)
                                        @Html.CustomDropDownListFor(m => m.DOMC_IDVialidad, Model.Vialidad, new { @class = "form-control form-control-sm " })
                                        @Html.ValidationMessageFor(m => m.DOMC_IDVialidad, "")
                                    </div>
                                    <div class="form-group col-lg-6">
                                        @Html.LabelFor(m => m.DOMC_NombreVialidad)
                                        @Html.EditorFor(m => m.DOMC_NombreVialidad, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                        @Html.ValidationMessageFor(m => m.DOMC_NombreVialidad, "")
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        @Html.LabelFor(m => m.DOMC_NumeroExterior)
                                        @Html.EditorFor(m => m.DOMC_NumeroExterior, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    </div>
                                    <div class="form-group col-lg-6">
                                        @Html.LabelFor(m => m.DOMC_NumeroInterior)
                                        @Html.EditorFor(m => m.DOMC_NumeroInterior, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group  col-lg-6">
                                        @Html.LabelFor(m => m.DOMC_Manzana)
                                        @Html.EditorFor(m => m.DOMC_Manzana, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    </div>
                                    <div class="form-group  col-lg-6">
                                        @Html.LabelFor(m => m.DOMC_Lote)
                                        @Html.EditorFor(m => m.DOMC_Lote, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group  col-lg-6">
                                        @Html.LabelFor(m => m.DOMC_Colonia)
                                        @Html.EditorFor(m => m.DOMC_Colonia, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                        @Html.ValidationMessageFor(m => m.DOMC_Colonia, "")
                                    </div>
                                    <div class="form-group  col-lg-6">
                                        @Html.LabelFor(m => m.DOMC_IDAlcaldia)
                                        @Html.CustomDropDownListFor(m => m.DOMC_IDAlcaldia, Model.Alcaldia, new { @class = "form-control form-control-sm " })
                                        @Html.ValidationMessageFor(m => m.DOMC_IDAlcaldia, "")
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        @Html.LabelFor(m => m.DOMC_CodigoPostal)
                                        @Html.EditorFor(m => m.DOMC_CodigoPostal, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    </div>
                                    <div class="form-group  col-lg-6">
                                        @Html.LabelFor(m => m.DOMC_IDEstado)
                                        @Html.CustomDropDownListFor(m => m.DOMC_IDEstado, Model.Estado, new { @class = "form-control form-control-sm " })
                                        @Html.ValidationMessageFor(m => m.DOMC_IDEstado, "")
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        @Html.LabelFor(m => m.DOMC_Latitud)
                                        @Html.EditorFor(m => m.DOMC_Latitud, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                        @Html.ValidationMessageFor(m => m.DOMC_Latitud, "")
                                    </div>
                                    <div class="form-group col-lg-6">
                                        @Html.LabelFor(m => m.DOMC_Longitud)
                                        @Html.EditorFor(m => m.DOMC_Longitud, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                        @Html.ValidationMessageFor(m => m.DOMC_Longitud, "")
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        @Html.LabelFor(m => m.DOMC_IDTipoVivienda)
                                        @Html.CustomDropDownListFor(m => m.DOMC_IDTipoVivienda, Model.TipoVivienda, new { @class = "form-control form-control-sm " })
                                        @Html.ValidationMessageFor(m => m.DOMC_IDTipoVivienda, "")
                                    </div>

                                    <div id="MontoRentaDomicilio" style="display:none" class="form-group col-lg-6">
                                        @Html.LabelFor(m => m.DOMC_MontoRenta)
                                        @Html.EditorFor(m => m.DOMC_MontoRenta, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    </div>

                                    <div id="OtroTipoVivienda" style="display:none" class="form-group col-lg-6">
                                        @Html.LabelFor(m => m.DOMC_Otro)
                                        @Html.TextAreaFor(m => m.DOMC_Otro, new { @class = "form-control" })
                                    </div>

                                </div>

                                <div class="col-lg-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="DiferenteDomicilio"> ¿El solicitante Habita en un domicilio difetente de donde se pretende aplicar el credito?
                                        </label>
                                    </div>
                                </div>

                                @Html.HiddenFor(m => m.CIU_IDDomicilioTrabajo)

                            </div>

                            @if (Model.Boton == true)
                            {
                                <div class="box-footer">
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                </div>


                            }

                        </div>
                    </div>

                    <div id="DomicilioViewModel">
                        @* 3.1 Domicilio Diferente  *@
                    </div>

                </div>

            </div>

            <div class="row">
                <div class="col-lg-6 ">
                </div>
                <div class="col-lg-6 ">
                    <button data-step="2" type="button" class="siguiente btn btn-block btn-success btn-lg">Siguiente</button>
                </div>
            </div>

        </fieldset>

        <fieldset id="step2" style="display:none">
            <div class="row">
                <!-- left column -->
                <div class="col-md-6">

                    <div id="CreditosOtorgadosViewModel">
                        @* 4. Solicion y creditos otrogados *@
                        <div class=" box box-success">
                            <div class="box-header with-border">
                                <h3 class="box-title">4. Solución y Créditos Otorgados. </h3>
                            </div>
                            <div class="box-body">

                                <div class="form-group">
                                    @Html.LabelFor(m => m.CIU_Proposito)
                                    @Html.TextBoxFor(m => m.CIU_Proposito, new { @class = "form-control form-control-sm" })
                                    @Html.ValidationMessageFor(m => m.CIU_Proposito, "")
                                </div>


                                <div class="form-group">
                                    @Html.LabelFor(m => m.CIU_CreditosOtorgados)
                                    <div class="radio">
                                        <label>
                                            @Html.RadioButtonFor(m => m.CIU_Proposito, "1")
                                            Sí
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            @Html.RadioButtonFor(m => m.CIU_Proposito, "0")
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div id="DeudorSolidarioViewModel">
                        @*6. DeudorSolidario *@
                    </div>
                    

                </div>

                <div class="col-md-6">

                    <div id="ComposicionFamiliarViewModel">
                        @* 5. Composicion Familiar *@
                        <div class=" box box-success">
                            <div class="box-header with-border">
                                <h3 class="box-title">5. Composición familiar de la (el) solicitante. </h3>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        @Html.LabelFor(m => m.CIU_IDOrganizacionCivilFamilia)
                                        @Html.CustomDropDownListFor(m => m.CIU_IDOrganizacionCivilFamilia, Model.OrganizacionCivilFamilia, new { @class = "form-control form-control-sm " })
                                        @Html.ValidationMessageFor(m => m.CIU_IDOrganizacionCivilFamilia, "")
                                    </div>
                                    <div class="form-group col-lg-6">
                                        @Html.LabelFor(m => m.CIU_IDEstructuraFamiliar)
                                        @Html.CustomDropDownListFor(m => m.CIU_IDEstructuraFamiliar, Model.EstructuraFamiliar, new { @class = "form-control form-control-sm " })
                                        @Html.ValidationMessageFor(m => m.CIU_IDEstructuraFamiliar, "")
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        @Html.LabelFor(m => m.CIU_IDEnfermedadCronica)
                                        @Html.CustomDropDownListFor(m => m.CIU_IDEnfermedadCronica, Model.EnfermedadCronica, new { @class = "form-control form-control-sm " })
                                        @Html.ValidationMessageFor(m => m.CIU_IDEnfermedadCronica, "")
                                    </div>
                                    <div class="form-group col-lg-6">
                                        @Html.LabelFor(m => m.CIU_EnfermedadCronicaOtro)
                                        @Html.EditorFor(m => m.CIU_EnfermedadCronicaOtro, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                        @Html.ValidationMessageFor(m => m.CIU_EnfermedadCronicaOtro, "")
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        @Html.LabelFor(m => m.CIU_IDDiscapacidad)
                                        @Html.CustomDropDownListFor(m => m.CIU_IDDiscapacidad, Model.Discapacidad, new { @class = "form-control form-control-sm " })
                                        @Html.ValidationMessageFor(m => m.CIU_IDDiscapacidad, "")
                                    </div>
                                    <div class="form-group col-lg-6">
                                        @Html.LabelFor(m => m.CIU_DiscapacidadOtro)
                                        @Html.EditorFor(m => m.CIU_DiscapacidadOtro, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                        @Html.ValidationMessageFor(m => m.CIU_DiscapacidadOtro, "")
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        @Html.LabelFor(m => m.CIU_IDGruposPrioritarios)
                                        @Html.CustomDropDownListFor(m => m.CIU_IDGruposPrioritarios, Model.GruposPrioritarios, new { @class = "form-control form-control-sm " })
                                        @Html.ValidationMessageFor(m => m.CIU_IDGruposPrioritarios, "")
                                    </div>
                                    <div class="form-group col-lg-6">
                                        @Html.LabelFor(m => m.CIU_IngresoFamiliar)
                                        @Html.EditorFor(m => m.CIU_IngresoFamiliar, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                        @Html.ValidationMessageFor(m => m.CIU_IngresoFamiliar, "")
                                    </div>


                                </div>

                                <!-- /.box-body -->
                            </div>

                            @* Trabajo *@
                            <div class="box-header with-border">
                                <h3 class="box-title">Datos laborales </h3>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        @Html.LabelFor(m => m.CIU_IDOcupacion)
                                        @Html.CustomDropDownListFor(m => m.CIU_IDOcupacion, Model.Ocupacion, new { @class = "form-control form-control-sm " })
                                        @Html.ValidationMessageFor(m => m.CIU_IDOcupacion, "")
                                    </div>
                                    <div class="form-group col-lg-6">
                                        @Html.LabelFor(m => m.CIU_NombreTrabajo)
                                        @Html.EditorFor(m => m.CIU_NombreTrabajo, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                        @Html.ValidationMessageFor(m => m.CIU_NombreTrabajo, "")
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>

                    <div id="CapacidadPagoViewModel">
                        <div class="box box-success">
                            <div class="box-header with-border">
                                <h1 class="box-title">7. Capacidad de Pago de la (el) Solicitante</h1>
                            </div>

                            <div class="box-body">

                                <div class="form-group">
                                    @Html.LabelFor(m => m.CIU_CapacidadPago)
                                    @Html.EditorFor(m => m.CIU_CapacidadPago, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.CIU_CapacidadPago, "")
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

            </div>
            <div class="row">
                <div class="col-lg-6 ">
                    <button data-step="1" type="button" class="siguiente btn btn-block btn-success btn-lg">Anterior</button>
                </div>
                <div class="col-lg-6 ">
                    <input type="submit" id="guardar" value="Guardar" class="btn btn-block btn-success btn-lg"/>
                </div>
            </div>
        </fieldset>


        }
    </section>
</div>

@section scripts{
    <script src="~/Scripts/Negocio/Ciudadano/Nuevo.js"></script>
}