@model Negocio.ViewModels.MenuViewModel

<aside class="main-sidebar">
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/Content/user.png" class="img-circle" alt="imagen" style="margin-top: -5px;">
            </div>
            <div class="pull-right info">
                <p>
                    Usuario : @Model.Usuario.USU_Usuario
                </p>
            </div>
        </div>
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MENÚ PRINCIPAL</li>
            @foreach (var item in Model.ModulosUsuario)
            {
                <li class="treeview ">
                    <a href="#">
                        <i class="fa  @item.MDL_Icono"></i> <span>@item.MDL_Nombre</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="@Url.Action(item.MDL_Action,item.MDL_Controller,new { m = Encriptador.Encriptar(item.MDL_Id) })"><i class="fa fa-search"></i>Consultar</a></li>
                    </ul>
                </li>
            }

            @if (Model.ModulosAdmin.Count() > 0)
            {
                <li class="header">Administrador</li>
                <li class="active">
                    <a href="@Url.Action("Index","Catalogos", new { m = Encriptador.Encriptar(6) })">
                        <i class="fa fa-dashboard"></i> <span>Catalogos</span>
                    </a>
                </li>
            }

        </ul>
    </section>
</aside>