@using System.Data
@model JUDMB.Models.Catalogos

@{
    Layout = "~/Views/Shared/_Layout-Principal.cshtml";
    var data = ViewBag.Data;
    var colums = data.Data.Columns;
}

<div class="content-wrapper" style="min-height: 956px;">
    <section class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Catalogo @ViewBag.Tabla </h3>
            </div>
            <form role="form" id="form-catalogo">
                <div class="box-body">
                    <div class="row">

                        @foreach (DataColumn column in colums)
                        {
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="@column.ColumnName">@column.ColumnName</label>
                                    <input type="text" class="form-control" id="@column.ColumnName" name="@column.ColumnName">
                                </div>
                            </div>
                        }

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Estatus</label>
                                <select class="form-control">
                                    <option value="0">Activo</option>
                                    <option value="1">Inactivo</option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </section>
</div>