@{
    Layout = "~/Views/Shared/_Layout-Principal.cshtml";
}

@model Negocio.ViewModels.Catalogos.CatalogosMostrarViewModel



<div class="content-wrapper" style="min-height: 901px;">
    <section class="content-header">
        <h1>
            @Model.NombreCatalogo
            <small>@Model.NoCatalogo</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active"><a href="#"><i class="fa fa-dashboard"></i>Menu principal</a></li>
        </ol>
    </section>

    <section class="content">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Datos del Catalogo</h3>
            </div>
            <div class="box-body">
                <div class="pull-right" style="margin: 10px 0px">
                     <button type="submit" class="btn bg-green">
                         Agregar &nbsp; 
                         <i class="fas fa-plus-circle"></i>
                     </button>
                </div>
                <table class="table table-bordered  table-striped" data-items="@Model.Listado.Count()">
                        @if (Model.Listado.Count() == 0)
                        {
                            @Html.CustomTableEmptyResult()
                        }
                        else
                        {
                            <tbody>
                                <tr>
                                    <th>ID</th>
                                    <th>Clave</th>
                                    @if (Model.TieneCGMA)
                                    {
                                        <th>ClaveCGMA</th>
                                    }
                                    <th>Descripción</th>
                                    <th>Activo</th>
                                </tr>
                                @foreach (var item in Model.Listado)
                                {
                                    <tr>
                                        <td>@item.ID</td>
                                        <td>@item.Clave</td>
                                        @if (Model.TieneCGMA)
                                        {
                                            <td>@item.ClaveCGMA</td>
                                        }
                                        <td>@item.Descripcion</td>
                                        <td>@item.Activo_Nombre</td>
                                    </tr>
                                }
                            </tbody>

                        }

                    </table>
            </div>
        </div>
    </section>
</div>