@{
    Layout = "~/Views/Shared/_Layout-Principal.cshtml";
}

@model Negocio.ViewModels.Catalogos.CatalogosMostrarViewModel

@section estilos{
    @Styles.Render("~/bundles/datatables_css")
}

<div class="content-wrapper" style="min-height: 901px;">
    <section class="content-header">
        <h1>
            @Model.NombreCatalogo
            <small>@Model.NoCatalogo</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active"><a href="#"><i class="fa fa-dashboard"></i>Menu principal</a></li>
        </ol>
    </section>

    <section class="content">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(m => m.Tabla)
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Datos del Catalogo</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="pull-right" style="margin: 10px 0px">
                            <button type="button" class="btn bg-green agregar">
                                Agregar &nbsp;
                                <i class="fas fa-plus-circle"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <table id="tabla_catalogos" class="table table-bordered  table-striped" data-items="@Model.Listado.Count()">
                    @if (Model.Listado.Count() == 0)
                    {
                        @Html.CustomTableEmptyResult()
                    }
                    else
                    {
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Clave</th>
                                @if (Model.TieneCGMA)
                                {
                                    <th>ClaveCGMA</th>
                                }
                                <th>Descripción</th>
                                <th>Activo</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.Listado)
                            {
                                <tr>
                                    <td>@item.ID</td>
                                    <td>@item.Clave</td>
                                    @if (Model.TieneCGMA)
                                    {
                                        <td>@item.ClaveCGMA</td>
                                    }
                                    <td>@item.Descripcion</td>
                                    <td>@item.Activo_Nombre</td>
                                    <td>
                                        <div class="text-center">

                                            <button type="button" class="btn bg-yellow edit" data-id="@item.ID">
                                                <i class="fas fa-edit"></i>
                                            </button>

                                            <button type="button" class="btn bg-red eliminate" data-id="@item.ID">
                                                <i class="fas fa-times-circle"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    }

                </table>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="modal-editar" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content" id="modal-cuerpo">

            

        </div>
    </div>
</div>


@section scripts{
    @Scripts.Render("~/bundles/datatables_js")
    <script src="~/Scripts/Negocio/Catalogos/CatalogosMostrarJS.js"></script>
}