@{
        Layout = "~/Views/Shared/_Layout-Principal.cshtml";

        var perfiles = new List<int> {1,2,7,8};
}

    @model Negocio.ViewModels.Principal.PrincipalIndexViewModel
    
<div class="content-wrapper" style="min-height: 901px;">
    <section class="content-header">
        <h1>
            Menú principal
            <small>Resumen</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active"><a href="#"><i class="fa fa-dashboard"></i>  Menú principal</a></li>
        </ol>
    </section>

    <section class="content">


        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="far fa-file"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Total de trámites </span>
                        <span class="info-box-number">@Model.TotalCreditos</span>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="fa fa-plus-square"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Trámites nuevos </span>
                        <span class="info-box-number">@Model.TotalCreditosNuevos</span>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-yellow"><i class="fa fa-spinner "></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Trámites en dictaminación</span>
                        <span class="info-box-number">@Model.TotalCreditosDictaminados</span>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fa fa-check"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Trámites finalizados</span>
                        <span class="info-box-number">@Model.TotalCreditosTerminados</span>
                    </div>
                </div>
            </div>
        </div>


        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">¿Qué desea hacer?</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    @if (perfiles.Find(x => x == Model.user.USU_PRF_Id) != 0)
                    {
                        <div class="col-lg-6 col-xs-12">
                            <div class="small-box bg-green">
                                <div class="inner">
                                    <h3>Nuevo trámite</h3>

                                    <p>Dar de alta una nueva solicitud</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-plus"></i>
                                </div>
                                <a href="@Url.Action("Insertar","CreditoInicial", new { m = Encriptador.Encriptar(2) })" class="small-box-footer">
                                    Acceder <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div>
                    }

                    <div class="col-lg-6 col-xs-12">
                        <div class="small-box bg-teal">
                            <div class="inner">
                                <h3>Buscar trámite</h3>

                                <p>Buscar una solicitud </p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-search"></i>
                            </div>
                            <a href="@Url.Action("Index","CreditoInicial", new { m = Encriptador.Encriptar(2) })" class="small-box-footer">
                                Acceder <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-6 col-xs-12">
                        <div class="small-box bg-purple disabled">
                            <div class="inner">
                                <h3>Crédito <br> Complementario</h3>

                                <p>Dar de alta un nuevo crédito complementario </p>
                            </div>
                            <div class="icon">
                                <i class="far fa-file"></i>
                            </div>
                            <a href="@Url.Action("Index","CreditoComplementario", new { m = Encriptador.Encriptar(3) })" class="small-box-footer">
                                Acceder <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-6 col-xs-12">
                        <div class="small-box bg-yellow disabled color-palette">
                            <div class="inner">
                                <h3>Modificaciones <br>al Crédito </h3>

                                <p>Dar de alta una modificación a un crédito </p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-pen-square"></i>
                            </div>
                            <a href="@Url.Action("Index","ModificacionesCredito", new { m = Encriptador.Encriptar(5) })" class="small-box-footer">
                                Acceder <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-6 col-xs-12">
                        <div class="small-box bg-orange disabled color-palette">
                            <div class="inner">
                                <h3>Crédito de <br>Sustentabilidad </h3>

                                <p>Dar de alta un crédito de sustentabilidad</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-people-carry"></i>
                            </div>
                            <a href="@Url.Action("Index","CreditoSustentabilidad", new { m = Encriptador.Encriptar(4) })" class="small-box-footer">
                                Acceder <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

