<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@SettingsProvider.AppTitulo | @ViewBag.Titulo</title>
    @Styles.Render("~/bundles/general_css")
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    @Styles.Render("~/bundles/estilos")

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">
    @RenderBody()
</body>

    @Scripts.Render("~/bundles/general_js")
    @Scripts.Render("~/bundles/jquery_validate")
    @RenderSection("scripts", required: false)
</html>
