

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@SettingsProvider.AppTitulo | @ViewBag.Titulo</title>
    @Styles.Render("~/bundles/general_css")
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    @Styles.Render("~/bundles/estilos")
    @RenderSection("estilos", required: false)
    @Styles.Render("~/bundles/adminlte_css")
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

</head>
<body class="hold-transition skin-green-light sidebar-mini ">
    <header class="main-header">

        <a href="@Url.Action("Index","Principal")" class="logo">
            <span class="logo-mini"><b>INVI</b></span>
            <span class="logo-lg"><b>INVI </b>JUDMB</span>
        </a>

        <nav class="navbar navbar-static-top">
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("CerrarSesion","Home")"><i class="fa fa-fw fa-sign-out"> </i>Cerrar Sesión</a>    </li>
                </ul>
            </div>


        </nav>
    </header>

    @Html.Action("_Navbar", "Menu")

    @RenderBody()

    @Html.Action("_Footer", "Menu")

    <div class="control-sidebar-bg"></div>

</body>

    @Scripts.Render("~/bundles/general_js")
    @Scripts.Render("~/bundles/jquery_validate")
    @RenderSection("scripts", required: false)

</html>
