@{
    Layout = "~/Views/Shared/_Layout-Principal.cshtml";

}

@model Negocio.ViewModels.CreditoInicial.CreditoInicialNuevoViewModel

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Ciudadano

            <small>Datos Personales</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="#">Ciudadano</a></li>
            <li class="active">Solicitud</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <form role="form">
            <div class="row">
                <!-- left column -->
                <div class="col-md-6">

                    @Html.Partial("../Ciudadano/_DatosPersonales", Model.DatosPersonales)

                    @* 2. Pareja *@
                    @Html.Partial("../Pareja/_Insertar", Model.Pareja)

                    @*3. Domicilio del credito y del solicitante *@
                    @Html.Partial("../DomicilioCiudadano/_Insertar", Model.DomicilioCiudadano)

                    @* 4.CREDITOS OROTGADOS *@
                    @Html.Partial("../Ciudadano/_CreditosOtorgados", Model.CreditosOtorgados)

                </div>

                <div class="col-md-6">


                    @* 5. COMPOSICIÓN FAMILIAR *@
                    @Html.Partial("../Ciudadano/_ComposicionFamiliar", Model.ComposicionFamiliar)

                    @Html.Partial("../Domicilio/Insertar")

                    @* Deudor solidario *@
                    @Html.Partial("../DeudorSolidario/Insertar")
                    @* 7. Capacidad de pago del solicitante *@
                    <div class=" box box-success">
                        <div class="box-header with-border">
                            <h3 class="box-title">7. Capacidad de pago del solicitante. </h3>
                        </div>
                        <div class="box-body">

                            <div class="form-group">
                                <label for="CIU_CapacidadPago">
                                    De su ingreso familiar mensual,
                                    <br />  ¿Cuánto podrá destinar para el pago del crédito?*:
                                </label>
                                <input type="number" class="form-control" id="CIU_CapacidadPago" />

                            </div>



                        </div>
                    </div>
                </div>


            </div>

            <div class="row">
                <div class="col-lg-6 ">
                </div>
                <div class="col-lg-6 ">

                    <button type="button" class="btn btn-block btn-success btn-lg">Guardar</button>
                </div>
            </div>


        </form>
    </section>
</div>
