@{
    Layout = "~/Views/Shared/_Layout-Principal.cshtml";
}

@model Negocio.ViewModels.CreditoInicial.CreditoInicialInsertarViewModel

@section estilos{
    @Styles.Render("~/bundles/select2_css")
}

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Credito Inicial
            <small>Nueva Solicitud</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="#">Credito Inicial</a></li>
            <li class="active">Nueva Solicitud</li>
        </ol>
    </section>

    <section class="content">
        @using (Html.BeginForm("Insertar"))
        {
            <fieldset id="step1">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-12">
                        <div class="box box-success">
                            <div class="box-header with-border">
                                <h1 class="box-title">Cedula Unica con Dictamen Integral del Programa de Mejoramiento de Vivienda</h1>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.CI_FechaSolicitud)
                                            @Html.TextBox("CI_FechaSolicitud", Model.CI_FechaSolicitud, "{0:yyyy-MM-dd}", new { @style = "width:100%", type = "date", @class = "form-control form-control-sm datepicker" })
                                            @Html.ValidationMessageFor(m => m.CI_FechaSolicitud, "")
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.CI_FolioSolicitud)
                                            @Html.EditorFor(m => m.CI_FolioSolicitud, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                            @Html.ValidationMessageFor(m => m.CI_FolioSolicitud, "")
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.CI_IDSeccionElectoral)
                                            @Html.CustomDropDownListFor(m => m.CI_IDSeccionElectoral, Model.SeccionElectoral, new { @class = "form-control form-control-sm " })
                                            @Html.ValidationMessageFor(m => m.CI_IDSeccionElectoral, "")
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.UnidadTerritorial)
                                            @Html.EditorFor(m => m.UnidadTerritorial, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                            @Html.ValidationMessageFor(m => m.UnidadTerritorial, "")
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.CI_ComprobanteIngresos)
                                            <div class="radio">
                                                <label>
                                                    @Html.RadioButtonFor(m => m.CI_ComprobanteIngresos, true)
                                                    Sí
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    @Html.RadioButtonFor(m => m.CI_ComprobanteIngresos, false)
                                                    No
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.CI_CartaResponsiva)
                                            <div class="radio">
                                                <label>
                                                    @Html.RadioButtonFor(m => m.CI_CartaResponsiva, true)
                                                    Sí
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    @Html.RadioButtonFor(m => m.CI_CartaResponsiva, false)
                                                    No
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12" id="div_buscar_ciudadano">
                        @Html.Partial("../Ciudadano/_Validar", Model.ValidarCiudadano)
                    </div>
                </div>

            </fieldset>

        }
    </section>
</div>

@section scripts{
    @Scripts.Render("~/bundles/select2_js")
    <script src="~/Scripts/Negocio/CreditoInicial/Nuevo.js"></script>
}